.panel_admin{
    >.menu{
        margin-bottom: 0;
        flex-shrink: 0;
    }

    >.panel_container_right{
        flex-grow: 1;
        padding: 3%;
        border: 1px solid rgba(34,36,38,.15);
        border-radius: .28571429rem;

        .field{
            margin-top: 1em;
        }
    }

}

.ck-editor__editable{
    min-height: 300px;
}