#root{
    min-height: 100vh;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        min-height: 100vh;
        align-items: flex-start;
        align-content: stretch;
        .header, footer{
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 100%;
        }


        footer{
            align-self: flex-end ;
        }
    }
}

.table tr.visible.transition {
    display: table-row !important;
}

@media screen and (max-width: 767px) {
    thead{
        display: none !important;
    }
}