footer {
    background-color: #767676;
    color: white;

    a {
        &.white {
            color: white
        }

        p {
            display: flex;
            align-items: center;
            min-height: 48px;
            min-width: 48px;
        }
    }
}

.footer{
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 768px){
        div{
            flex-grow: 1;
            margin: 2% 0;
        }

        >div:not(:first-child){
            border-left: black solid 1px;
        }

    }



    @media screen and (max-width: 767px){
        flex-direction: column;
        margin-left: (100%/8);
        margin-right: (100%/8);
        margin-top: 2%;

        div{
            flex-grow: 1;
            padding: 10%;
        }

        >div:not(:first-child){
            border-top: black solid 1px;
        }
    }
}
