$firstNewsHeight: 37rem;


html, body{
    min-height: 100%;

    .wrapper{
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%),url("/public/image/dot.png"), url("/public/image/arcade_scoring.jpg");
        background-position: 0 0, 0 0, bottom;
        background-size: auto, auto, cover;
        background-repeat: no-repeat, repeat, no-repeat;
        background-attachment: fixed, fixed, fixed;
    }

    main.ui.container{
        padding: 2%;
        background-image: linear-gradient(to bottom, rgba(255,255,255, 0.8) 0%, rgba(255,255,255, 0.8) 100%);
        border-radius: 20px;
    }
}

.first_news{

    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px){
        figure{
            margin: 0;
            position: relative;
            max-height: 200px;
        }
        img{
            max-height: 200px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
        .overlay{
            display: none;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 50%;

        }
        figcaption{
            position: absolute;
            width: 100%;
            color: white;
            transform: translateY(-100%);
            background-color: rgba(0,0,0,0.65);
            padding: 5%;

            .categorie{
                text-transform: uppercase;
            }
            .title{
                font-weight: bold;
            }
        }
    }

    @media screen and (min-width: 768px){
        height: $firstNewsHeight;
        flex-wrap: wrap;

        figure{
            margin: 0;
            position: relative;
        }

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
            transition:all 0.25s ease-in-out;
        }
    }

}

@each $new in one two three{
    @media screen and (min-width: 768px) {
        .first_news_#{$new} {
            width: 66%;
            height: 100%;

            overflow: hidden;

            &:hover {
                img {
                    transform: scale(1.15, 1.15);
                }

                .overlay {
                    background-color: rgba(0, 0, 0, 0.65);
                    transition: background-color 0.25s ease-in-out;
                }

                figcaption {
                    transform: translateY(-100%);
                    transition: transform 0.25s ease-in-out;
                }
            }

            .overlay {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0);
                transition: background-color 0.25s ease-in-out;
            }

            figcaption {
                position: absolute;
                width: 100%;
                color: white;
                transform: translateY(100%);
                transition: transform 0.25s ease-in-out;

                padding: 5%;

                .categorie {
                    text-transform: uppercase;
                }

                .title {
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    .first_news_two{
        width: 33%;
        height: 18.5rem;
    }
    .first_news_three{
        width: 33%;
        height: 18.5rem;
    }
}

.list_news{

    .header_flux{
        margin: 2% 0;
    }

    table{
        width: 100%;
        table-layout: fixed;
    }

    thead{
        visibility: collapse;
    }

    tbody{
        tr{
            td{
                white-space: nowrap;
                overflow: hidden;
                word-break: break-word;
                text-overflow: ellipsis;
                a.grey_visited{
                    color: black;
                    &:visited{
                        color: #BEBEBE;
                    }
                }
            }
        }
    }
}

a.grey_visited{
    color: black;
    &:visited{
        color: #BEBEBE;
    }
}

.search_result{
    @extend .list_news;
    .header_result{
        padding: 3% 0;
        margin: 0;
    }
}

article {
    .cover{
        max-height: 300px;
        width: 100%;
        margin: auto;
        object-fit: contain;
        object-position: center;
    }
    @media screen and (min-width: 769px) {
        .cover{
            max-height: 500px;
            object-fit: cover;
        }
    }

    .title{
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    a.black{
        color: black;
    }
}

.mini_menu{
    flex-grow: 1;
    .search_field{
        flex-grow: 1;
    }
}

.networks{
    i{
        color: white;
    }
}

article.article{
    img{
        max-width: 100%;
    }
}