.flexbox_horizontale{
    display: flex;
    justify-content: space-between;
}

.flexbox_vertical{
    display: flex;
    flex-direction: column;
}

.flex_center{
    justify-content: center;
}

.flex_center_center{
    justify-content: center;
    align-items: center;
}

.flex_space_between{
    justify-content: space-between;
}

.flex_stretch{
    align-content: stretch;
}

.flex_space_between_center{
    justify-content: space-between;
    align-items: center;
}

.fullPage{
    height: 100vh;
}

.myLoader{
    min-height: 500px;
}